* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	list-style: none;
	border: 0;
	font-family: "Roboto", sans-serif;
}

:root {
	--vermelho: #dc2626;
	--verde: #047857;
	--cinza-um: #e2e8f0;
	--cinza-dois: #f8fafc;
	--title: #1e293b;
	--subtitle: #94a3b8;
}

html {
	background: var(--cinza-um);
	height: 100vh;
}

button:hover {
	opacity: 0.6;
	cursor: pointer;
}

button:disabled,
button[disabled]{
  cursor: not-allowed;
}
